<template name="itemSubmit">
  <form class="main">

    {{> map}}


  <!-- TODO move this part (title, description, location and flyers) to a template -->

  <!-- item title -->
  <div class="control-group">
    <label class="control-label" for="title">Titel</label>
    <div class="controls">
      <input name="title" type="text" value="" placeholder="Was schenkst du?" />
    </div>
  </div>

  <!-- item description  -->
  <div class="control-group">
    <label class="control-label" for="description">Beschreibung</label>
    <div class="controls">
      <textarea name="description" type="text"
      placeholder="Bitte beschreibe dein zu verschenkenden Gegenstand..."
      rows ="4" style="width:100%"></textarea>
    </div>
  </div>

  <!-- item location  We don't need that for now-->
  <!-- <div class="control-group">
    <label class="control-label" for="location">Standort</label>
    <div class="controls">
      <input name="location" type="text" value="" placeholder="Wo bisch?" />
    </div>
  </div> -->

  <!-- set flyers number -->
  <div class="control-group">
    <label class="control-label" for="tearoffs">Anzahl Abreiszettel</label>
    <div class="controls">
      <input name="tearoffs" type="number" min="1" max="10" step="1" value="2" />
    </div>
  </div>

  <!-- take and show photos -->
  <div class="row">

    <!-- show first pic, if no pics exist -->
    {{#if showFirstPic }}

      <div class="col-sm-6 col-md-4">
        {{> photoSubmit photoIndex=0}}
      </div>

    {{/if}}

    <!-- show the second pic if the first one exist and the third one not -->
    {{#if showSecondPic }}

      <div class="col-sm-6 col-md-4">
        {{> photoSubmit photoIndex=1}}
      </div>

    {{/if}}


    <!--  show the third pic only if first two exist -->
    {{#if showThirdPic }}

      <div class="col-sm-6 col-md-4">
      {{> photoSubmit photoIndex=2}}
      </div>

    {{/if}}

  </div>

    <!-- submit button -->
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Fertig" class="btn btn-success" />
      </div>
    </div>
  </form>
</template>
