<template name="itemPage">
  <div>
  {{#Animate}}
  <div class="animatedFadeUpBig animate animated">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
      {{#if ownItem}}<a href="{{pathFor 'itemEdit'}}">Edit</a>{{/if}}

    </div>

    <div class="panel-body">

      <!-- show item's pic next to each other -->
      <div class="row-fluid">

            {{#each photos}}
                  {{> photo}}
            {{/each}}
      </div>

    </div>

    <div class="panel-body">
        {{description}} <br/>
        <strong>Entfernung: </strong> {{#if distance}}{{distance}} {{else}} - {{/if}} km<br/>
        <strong>Eingestellt von: </strong><a href="{{pathFor 'profile'}}"> {{author}}</a><br/>
        <strong>Eingestellt am: </strong> {{submittedText}}<br/>
        <strong>Übrige Abreißzettel: </strong> {{tearoffs}}<br/>

    </div>

    {{#unless ownItem}}
      <!-- TODO do this in a NON-STATIC way-->
      <div id="tearoff1" class="tearoff-paper animated">Ja :)
      </div>
      <div id="tearoff2" class="tearoff-paper animated">Ja :)
      </div>
      <div id="tearoff3" class="tearoff-paper animated">Ja :)
      </div>
      <div id="tearoff4" class="tearoff-paper animated">Ja :)
      </div>
      <div id="tearoff5" class="tearoff-paper animated">Ja :)
      </div>
    {{/unless}}

  </div>





  <!-- when no comments exist we show this message -->
  {{#if noComments}}
  <div class="alert alert-info" role="alert">
    There are no comments. Be the first one to comment this item!</div>
  {{/if}}

  <!-- show comments -->
  <ul class="comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </ul>

  <!-- add a comment if logged in -->
  {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
  {{/if}}
</div>
{{/Animate}}
</div>

</template>
