<template name="itemSubmit">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="title">Titel</label>
      <div class="controls">
        <input name="title" type="text" value="" placeholder="Was schenkst du?" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Beschreibung</label>
      <div class="controls">
        <textarea name="description" type="text" value=""></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="location">Standort</label>
      <div class="controls">
        <input name="location" type="text" value="" placeholder="Wo bisch?" />
      </div>
    </div>

    <!-- Abreisszettel -->
    <div class="control-group">
      <label class="control-label" for="tearoffs">Anzahl Abreiszettel</label>
      <div class="controls">
        <input name="tearoffs" type="number" min="1" max="15" step="1" value="10" />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-default take-photo" aria-label="Take Photo">
          <span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    {{#if itemPhoto1}}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{itemPhoto1}}" alt="">
          <div class="caption">
            <p><a href="#" class="btn btn-danger delete-photo1" role="button">Bild löschen</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if itemPhoto2}}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{itemPhoto2}}" alt="">
          <div class="caption">
            <p><a href="#" class="btn btn-danger delete-photo2" role="button">Bild löschen</a></p>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if itemPhoto3}}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{itemPhoto3}}" alt="">
          <div class="caption">
            <p><a href="#" class="btn btn-danger delete-photo3" role="button">Bild löschen</a></p>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</template>
