<template name="itemPage">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
      Beschreibung: {{description}}  <br/>

        {{#each photos}}
        {{> photo}}
        {{/each}}

      Lokation: {{location}}  <br/>
      Author: {{author}} <br/>
      Erstellt am: {{submittedText}}  <br/>
      Übrige Abreißzettel: {{tearoffs}}
    </div>
  </div>




  <!-- when no comments exist we show this message -->
  {{#if noComments}}
    <p>There are no comments. Be the first one to comment this item!</p>
  {{/if}}

  <!-- show comments -->
  <ul class="comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </ul>

  <!-- add a comment if logged in -->
  {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
  {{/if}}

</template>
