<template name="itemSubmit">
  <form class="main">
    <!-- item title -->
    <div class="control-group">
      <label class="control-label" for="title">Titel</label>
      <div class="controls">
        <input name="title" type="text" value="" placeholder="Was schenkst du?" />
      </div>
    </div>

    <!-- item description  -->
    <div class="control-group">
      <label class="control-label" for="description">Beschreibung</label>
      <div class="controls">
        <textarea name="description" type="text"
        placeholder="Bitte beschreibe dein zu verschenkenden Gegenstand..."
        rows ="4">
      </textarea>
    </div>
  </div>

  <!-- item location -->
  <div class="control-group">
    <label class="control-label" for="location">Standort</label>
    <div class="controls">
      <input name="location" type="text" value="" placeholder="Wo bisch?" />
    </div>
  </div>

  <!-- set flyers number -->
  <div class="control-group">
    <label class="control-label" for="tearoffs">Anzahl Abreiszettel</label>
    <div class="controls">
      <input name="tearoffs" type="number" min="1" max="10" step="1" value="2" />
    </div>
  </div>

    <!-- take and show photos -->
    <div class="row">

      <!-- first pic -->
      <div class="col-sm-6 col-md-4">

        <!-- if the picture doesnt exist, show camera icon -->
        {{#unless itemPhoto1}}

          <button type="button"
                  class="btn btn-default take-photo"
                  aria-label="Take Photo">
            <span class="glyphicon glyphicon glyphicon-camera"
                  aria-hidden="true">
            </span>
         </button>

        {{/unless}}

        <!-- if the pic exists, show it -->
        {{#if itemPhoto1}}
          <div class="thumbnail">

            <img src="{{itemPhoto1}}" alt="Hauptbild">

            <div class="caption">
              <a href="#" class="btn btn-primary delete-photo1"
                role="button">Bild erneut aufnehmen
              </a>
              <a href="#" class="btn btn-danger delete-photo1"
                 role="button">Bild löschen
              </a>
            </div>
          </div>
            {{/if}}
        </div>

      <!-- second pic -->
      <div class="col-sm-6 col-md-4">

        <!-- if the picture doesnt exist, show camera icon -->
        {{#unless itemPhoto2}}

          <button type="button"
                  class="btn btn-default take-photo"
                  aria-label="Take Photo">
            <span class="glyphicon glyphicon glyphicon-camera"
                  aria-hidden="true">
            </span>
         </button>

        {{/unless}}

        <!-- if the pic exists, show it -->
        {{#if itemPhoto2}}
          <div class="thumbnail">

            <img src="{{itemPhoto2}}" alt="Hauptbild">

            <div class="caption">
              <a href="#" class="btn btn-primary delete-photo2"
                role="button">Bild erneut aufnehmen
              </a>
              <a href="#" class="btn btn-danger delete-photo2"
                 role="button">Bild löschen
              </a>
            </div>
          </div>
            {{/if}}
        </div>

      <!-- third pic -->
      <div class="col-sm-6 col-md-4">

        <!-- if the picture doesnt exist, show camera icon -->
        {{#unless itemPhoto3}}

          <button type="button"
                  class="btn btn-default take-photo"
                  aria-label="Take Photo">
            <span class="glyphicon glyphicon glyphicon-camera"
                  aria-hidden="true">
            </span>
         </button>

        {{/unless}}

        <!-- if the pic exists, show it -->
        {{#if itemPhoto3}}
          <div class="thumbnail">

            <img src="{{itemPhoto3}}" alt="Hauptbild">

            <div class="caption">
              <a href="#" class="btn btn-primary delete-photo3"
                role="button">Bild erneut aufnehmen
              </a>
              <a href="#" class="btn btn-danger delete-photo3"
                 role="button">Bild löschen
              </a>
            </div>
          </div>
            {{/if}}
        </div>
    </div>


    <!-- submit button -->
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-success" />
      </div>
    </div>
  </form>
</template>
