<template name="itemPage">
  <div>
  {{#Animate}}
  <div class="animatedFadeUpBig animate animated">
  <!-- TODO the item's information should be moved to a template-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
      {{#if ownItem}}<a href="{{pathFor 'itemEdit'}}">Edit</a>{{/if}}

    </div>

    <div class="panel-body">


        {{#each photos}}
        {{> photo}}
        {{/each}}

    </div>

    <div class="panel-body">
      <p>
        <strong>Beschreibung: </strong> {{description}} <br/>
        <strong>Entfernung: </strong> {{#if distance}}{{distance}} {{else}} - {{/if}} km<br/>
        <strong>Eingestellt von: </strong><a href="{{pathFor 'profile'}}"> {{author}}</a><br/>
        <strong>Eingestellt am: </strong> {{submittedText}}<br/>
        <strong>Übrige Abreißzettel: </strong> {{tearoffs}}<br/>
      </p>

      <!-- we show tearoff button only if the user is not item owner-->
      {{#unless ownItem}}
      <div class="caption">
        <a href="#" class="btn btn-primary tearoff {{isDisabled}}"
          role="button">
          <span class="glyphicon glyphicon glyphicon-gift" aria-hidden="true">
            Abreißen
          </span>
        </a>
      </div>
      {{/unless}}

    </div>
    <div class="tearoff-paper animated">hallo</div>
    <div class="tearoff-paper animated">hallo</div>
    <div class="tearoff-paper animated">hallo</div>
    <div class="tearoff-paper animated">hallo</div>
    <div class="tearoff-paper animated">hallo</div>
  </div>





  <!-- when no comments exist we show this message -->
  {{#if noComments}}
  <div class="alert alert-info" role="alert">There are no comments. Be the first one to comment this item!</div>
  {{/if}}

  <!-- show comments -->
  <ul class="comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </ul>

  <!-- add a comment if logged in -->
  {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
  {{/if}}
</div>
{{/Animate}}
</div>

</template>
