<template name="itemEntry">
  <div class="item">

    <div class="item-content">
      <a href="{{pathFor 'itemPage'}}">

    <!-- if no thumbnail (what should never be the case)
         show static image-->
        {{#if thumbnail}}
          <img src="{{thumbnail}}" width="100px" height="100px"
               class="img-rounded" alt="Rounded Image"/>
        {{else}}
          <img src="images/125x125.jpg" width="100px"
               height="100px" class="img-rounded" alt="Rounded Image"/>
        {{/if}}
      </a>

      <h3><a href="{{url}}">{{title}}</a></h3>
      <p>
        {{location}}
        {{#if ownItem}}<a href="{{pathFor 'itemEdit'}}">Edit</a>{{/if}}
      </p>
      <p>
        <a href="{{pathFor 'itemPage'}}">{{commentsCount}} comments</a>
      </p>
    </div>
    <!-- <a href="{{pathFor 'itemPage'}}" class="discuss btn">Discuss</a> -->
    <span class="badge info discuss">{{tearoffs}}</span>
  </div>
</template>
