<template name="userProfile">

  <!-- TODO the item's information should be moved to a template-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{userName}}</h3>

      {{#if ownItem}}<a href="{{pathFor 'itemEdit'}}">Edit</a>{{/if}}
    </div>

    <div class="panel-body">
      
    </div>

    <div class="panel-body">
      Beschreibung: {{description}}  <br/>

      Entfernung: {{#if distance}}{{distance}} {{else}} - {{/if}} km<br/>

      Author: {{author}} <br/>
      Erstellt am: {{submittedText}}  <br/>
      Übrige Abreißzettel: {{tearoffs}}

      <!-- we show tearoff button only if the user is not item owner-->
      {{#unless ownItem}}
      <div class="caption">
        <a href="#" class="btn btn-primary tearoff {{isDisabled}}"
        role="button">
        <span class="glyphicon glyphicon glyphicon-gift" aria-hidden="true">
          Abreißen
        </span>
      </a>
    </div>
    {{/unless}}

  </div>
</div>




<!-- when no comments exist we show this message -->
{{#if noComments}}
<p>There are no comments. Be the first one to comment this item!</p>
{{/if}}

<!-- show comments -->
<ul class="comments">
  {{#each comments}}
  {{> comment}}
  {{/each}}
</ul>

<!-- add a comment if logged in -->
{{#if currentUser}}
{{> commentSubmit}}
{{else}}
<p>Please log in to leave a comment.</p>
{{/if}}

</template>
