<template name="photoSubmit">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{itemPhoto1}}" alt="">
        <div class="caption">
          <p>
            <!-- TODO implementiere im manager bild erneut aufnehmen funktionalitat
                dabei aufpassen, dass das richtige photo aus dem session ersetzt wird
            -->
            <a href="#" class="btn btn-primary add-photo1"
               role="button">Bild erneut aufnehmen
            </a>
            <a href="#" class="btn btn-danger delete-photo1"
               role="button">Bild löschen
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
