<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <!--  Koala icon -->
        <a class="navbar-brand" href="{{pathFor 'itemsList'}}">
          <img alt="Brand" src="/images/koala.png" width="25px" height="25px">
        </a>
      </div>

      <!-- icons in header -->
      <div class="collapse navbar-collapse" id="navigation">

        <!-- allowed logged in users to create new items -->
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li>
            <a href="{{pathFor 'itemSubmit'}}">
              <span class="glyphicon glyphicon-plus"
              aria-hidden="true">
            </span>&nbsp;&nbsp;&nbsp;Artikel erstellen
            </a>
          </li>
          {{/if}}

          <!-- search bar -->
          <!-- <li> -->
            <!-- here should be {{pathFor 'itemSearch param'}}</a>  -->
            <!-- <a href="{{pathFor 'itemsList'}}" >
              <span class="glyphicon glyphicon-search"
                     aria-hidden="true">
             </span>
            </a>
          </li> -->

          {{#if currentUser}}
          <!-- icon for tearoffs that I have pulled off-->
          <li>
            <a href="{{pathFor 'interestedItems'}}" >
              <span class="glyphicon glyphicon-gift"
                     aria-hidden="true">
             </span>&nbsp;&nbsp;&nbsp;Meine Interessen
            </a>
          </li>

          <!-- icon for users own items -->
          <li>
            <a href="{{pathFor 'myItems'}}" >
              <span class="glyphicon glyphicon-tags"
                     aria-hidden="true">
             </span>&nbsp;&nbsp;&nbsp;Meine Artikel
            </a>
          </li>

          <!-- notifications icon with dropdwon functionality -->
          <li class="dropdown">
            {{> notifications}}
          </li>

          {{/if}}

        </ul>

        <!-- login dropdwon -->
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
